# https://docs.kumomta.com/userguide/configuration/sendingips/
[source."shared-00"]

# shared ip pool weights
[pool."shared"]
[pool."shared"."shared-00"]
weight = 2

# StirTalk binding group sources (Dallas)
# These correspond to Momentum bindings StirTalk3 and StirTalk5
# Note: In Kubernetes, source_address is optional - if not specified, KumoMTA will use the Pod IP
# To use specific IPs, set KUMOMTA_STIRTALK_3_IP and KUMOMTA_STIRTALK_5_IP environment variables
# See: https://kumomta.com/blog/moving-from-momentum
[source."stir-talk-3"]
# source_address will be set dynamically in init.lua if KUMOMTA_STIRTALK_3_IP is defined
ehlo_domain = "mx3.talk.stir.com"

[source."stir-talk-5"]
# source_address will be set dynamically in init.lua if KUMOMTA_STIRTALK_5_IP is defined
ehlo_domain = "mx5.talk.stir.com"

# StirTalk pool - corresponds to Momentum Binding_Group "StirTalk"
[pool."StirTalk"]
[pool."StirTalk"."stir-talk-3"]
[pool."StirTalk"."stir-talk-5"]
